doctype html
html
    head
        title Code Transfer
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css')
    body(style='background:#777777')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style='height:10%;' aria-label='first navbar example')
            .container-fluid
                a.navbar-brand(href='/') code transfer
                if showUpload                
                    a.navbar-brand(href='/upload') Upload
        block content
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js')

