extends layout

block content
    br
    form(method='POST', action='/upload/input')
        .container
            h1 Upload Code:
            #form-group
                pre
                    code
                        textarea.form-control(spellcheck='false' name='code' width="100%" min-height="25em") 
            br
            input.btn.btn-primary(type='submit',value='submit')
